## Preprocessing, dividing and writing a csv file into smaller csv files

In this program, we take  the file 'sales.csv', which covers data of a two and a half year span (01-2003 to 05-2005), preprocess it and divide it into weeks. We then write one csv file per week having as title the first date of the corresponding week. Hence, the code returns 126 smaller csv files.

In [1]:
import pandas as pd
from datetime import date, timedelta

In [2]:
# Import file

with open('sales.csv', encoding="utf8", errors="ignore") as f:
    df = pd.read_csv(f, sep=",")

In [3]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [4]:
# Drop unnecessary columns

df.drop(columns = ['ORDERLINENUMBER',
       'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'MSRP', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],axis = 1, inplace = True)

In [5]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,STATUS,PRODUCTLINE,PRODUCTCODE
0,10107,30,95.70,2871.00,2/24/2003 0:00,Shipped,Motorcycles,S10_1678
1,10121,34,81.35,2765.90,5/7/2003 0:00,Shipped,Motorcycles,S10_1678
2,10134,41,94.74,3884.34,7/1/2003 0:00,Shipped,Motorcycles,S10_1678
3,10145,45,83.26,3746.70,8/25/2003 0:00,Shipped,Motorcycles,S10_1678
4,10159,49,100.00,5205.27,10/10/2003 0:00,Shipped,Motorcycles,S10_1678
...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,2244.40,12/2/2004 0:00,Shipped,Ships,S72_3212
2819,10373,29,100.00,3978.51,1/31/2005 0:00,Shipped,Ships,S72_3212
2820,10386,43,100.00,5417.57,3/1/2005 0:00,Resolved,Ships,S72_3212
2821,10397,34,62.24,2116.16,3/28/2005 0:00,Shipped,Ships,S72_3212
2822,10414,47,65.52,3079.44,5/6/2005 0:00,On Hold,Ships,S72_3212

In [6]:
df.dtypes

ORDERNUMBER          int64
QUANTITYORDERED      int64
PRICEEACH          float64
SALES              float64
ORDERDATE           object
STATUS              object
PRODUCTLINE         object
PRODUCTCODE         object
dtype: object

In [7]:
# Set type of date column to datetime

df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

In [8]:
df.sort_values(by='ORDERDATE',inplace=True)
df.reset_index(drop=True,inplace=True)

In [9]:
first_column = df.pop('ORDERDATE')
df.insert(0, 'ORDERDATE', first_column)

In [10]:
df

,ORDERDATE,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,STATUS,PRODUCTLINE,PRODUCTCODE
0,2003-01-06,10100,30,100.00,5151.00,Shipped,Vintage Cars,S18_1749
1,2003-01-06,10100,50,67.80,3390.00,Shipped,Vintage Cars,S18_2248
2,2003-01-06,10100,22,86.51,1903.22,Shipped,Vintage Cars,S18_4409
3,2003-01-06,10100,49,34.47,1689.03,Shipped,Vintage Cars,S24_3969
4,2003-01-09,10101,45,31.20,1404.00,Shipped,Vintage Cars,S24_1937
...,...,...,...,...,...,...,...,...
2818,2005-05-31,10425,18,100.00,1895.94,In Process,Trucks and Buses,S50_1392
2819,2005-05-31,10425,33,100.00,4692.60,In Process,Trucks and Buses,S12_4473
2820,2005-05-31,10425,38,100.00,5894.94,In Process,Classic Cars,S10_4962
2821,2005-05-31,10424,44,61.41,2702.04,In Process,Trucks and Buses,S32_3522
2822,2005-05-31,10425,38,99.41,3777.58,In Process,Trucks and Buses,S18_2319

In [11]:
# Create list of lists, where each internal list is a week in the range of the data

date = date(2003, 1, 6)
all_weeks=[]
duration = timedelta(7)

for i in range(126):
    week=[]
    for j in range(duration.days):
        day = date + timedelta(days=j)
        week.append(day)
    all_weeks.append(week)
    date = date + timedelta(7)

In [12]:
all_weeks

[[datetime.date(2003, 1, 6),
  datetime.date(2003, 1, 7),
  datetime.date(2003, 1, 8),
  datetime.date(2003, 1, 9),
  datetime.date(2003, 1, 10),
  datetime.date(2003, 1, 11),
  datetime.date(2003, 1, 12)],
 [datetime.date(2003, 1, 13),
  datetime.date(2003, 1, 14),
  datetime.date(2003, 1, 15),
  datetime.date(2003, 1, 16),
  datetime.date(2003, 1, 17),
  datetime.date(2003, 1, 18),
  datetime.date(2003, 1, 19)],
 [datetime.date(2003, 1, 20),
  datetime.date(2003, 1, 21),
  datetime.date(2003, 1, 22),
  datetime.date(2003, 1, 23),
  datetime.date(2003, 1, 24),
  datetime.date(2003, 1, 25),
  datetime.date(2003, 1, 26)],
 [datetime.date(2003, 1, 27),
  datetime.date(2003, 1, 28),
  datetime.date(2003, 1, 29),
  datetime.date(2003, 1, 30),
  datetime.date(2003, 1, 31),
  datetime.date(2003, 2, 1),
  datetime.date(2003, 2, 2)],
 [datetime.date(2003, 2, 3),
  datetime.date(2003, 2, 4),
  datetime.date(2003, 2, 5),
  datetime.date(2003, 2, 6),
  datetime.date(2003, 2, 7),
  datetime.date(2003, 2, 8),
  datetime.date(2003, 2, 9)],
 [datetime.date(2003, 2, 10),
  datetime.date(2003, 2, 11),
  datetime.date(2003, 2, 12),
  datetime.date(2003, 2, 13),
  datetime.date(2003, 2, 14),
  datetime.date(2003, 2, 15),
  datetime.date(2003, 2, 16)],
 [datetime.date(2003, 2, 17),
  datetime.date(2003, 2, 18),
  datetime.date(2003, 2, 19),
  datetime.date(2003, 2, 20),
  datetime.date(2003, 2, 21),
  datetime.date(2003, 2, 22),
  datetime.date(2003, 2, 23)],
 [datetime.date(2003, 2, 24),
  datetime.date(2003, 2, 25),
  datetime.date(2003, 2, 26),
  datetime.date(2003, 2, 27),
  datetime.date(2003, 2, 28),
  datetime.date(2003, 3, 1),
  datetime.date(2003, 3, 2)],
 [datetime.date(2003, 3, 3),
  datetime.date(2003, 3, 4),
  datetime.date(2003, 3, 5),
  datetime.date(2003, 3, 6),
  datetime.date(2003, 3, 7),
  datetime.date(2003, 3, 8),
  datetime.date(2003, 3, 9)],
 [datetime.date(2003, 3, 10),
  datetime.date(2003, 3, 11),
  datetime.date(2003, 3, 12),
  datetime.date(2003, 3, 13),
  datetime.date(2003, 3, 14),
  datetime.date(2003, 3, 15),
  datetime.date(2003, 3, 16)],
 [datetime.date(2003, 3, 17),
  datetime.date(2003, 3, 18),
  datetime.date(2003, 3, 19),
  datetime.date(2003, 3, 20),
  datetime.date(2003, 3, 21),
  datetime.date(2003, 3, 22),
  datetime.date(2003, 3, 23)],
 [datetime.date(2003, 3, 24),
  datetime.date(2003, 3, 25),
  datetime.date(2003, 3, 26),
  datetime.date(2003, 3, 27),
  datetime.date(2003, 3, 28),
  datetime.date(2003, 3, 29),
  datetime.date(2003, 3, 30)],
 [datetime.date(2003, 3, 31),
  datetime.date(2003, 4, 1),
  datetime.date(2003, 4, 2),
  datetime.date(2003, 4, 3),
  datetime.date(2003, 4, 4),
  datetime.date(2003, 4, 5),
  datetime.date(2003, 4, 6)],
 [datetime.date(2003, 4, 7),
  datetime.date(2003, 4, 8),
  datetime.date(2003, 4, 9),
  datetime.date(2003, 4, 10),
  datetime.date(2003, 4, 11),
  datetime.date(2003, 4, 12),
  datetime.date(2003, 4, 13)],
 [datetime.date(2003, 4, 14),
  datetime.date(2003, 4, 15),
  datetime.date(2003, 4, 16),
  datetime.date(2003, 4, 17),
  datetime.date(2003, 4, 18),
  datetime.date(2003, 4, 19),
  datetime.date(2003, 4, 20)],
 [datetime.date(2003, 4, 21),
  datetime.date(2003, 4, 22),
  datetime.date(2003, 4, 23),
  datetime.date(2003, 4, 24),
  datetime.date(2003, 4, 25),
  datetime.date(2003, 4, 26),
  datetime.date(2003, 4, 27)],
 [datetime.date(2003, 4, 28),
  datetime.date(2003, 4, 29),
  datetime.date(2003, 4, 30),
  datetime.date(2003, 5, 1),
  datetime.date(2003, 5, 2),
  datetime.date(2003, 5, 3),
  datetime.date(2003, 5, 4)],
 [datetime.date(2003, 5, 5),
  datetime.date(2003, 5, 6),
  datetime.date(2003, 5, 7),
  datetime.date(2003, 5, 8),
  datetime.date(2003, 5, 9),
  datetime.date(2003, 5, 10),
  datetime.date(2003, 5, 11)],
 [datetime.date(2003, 5, 12),
  datetime.date(2003, 5, 13),
  datetime.date(2003, 5, 14),
  datetime.date(2003, 5, 15),
  datetime.date(2003, 5, 16),
  datetime.date(2003, 5, 17),
  datetime.date(2003, 5, 18)],
 [datetime.date(2003, 5, 19),
  datetime.date(2003, 5, 20),
  datetime.date(2003, 5, 21),
  datetime.date(2003, 5, 22),
  datetime.date(2003, 5, 23),
  datetime.date(2003, 5, 24),
  datetime.date(2003, 5, 25)],
 [datetime.date(2003, 5, 26),
  datetime.date(2003, 5, 27),
  datetime.date(2003, 5, 28),
  datetime.date(2003, 5, 29),
  datetime.date(2003, 5, 30),
  datetime.date(2003, 5, 31),
  datetime.date(2003, 6, 1)],
 [datetime.date(2003, 6, 2),
  datetime.date(2003, 6, 3),
  datetime.date(2003, 6, 4),
  datetime.date(2003, 6, 5),
  datetime.date(2003, 6, 6),
  datetime.date(2003, 6, 7),
  datetime.date(2003, 6, 8)],
 [datetime.date(2003, 6, 9),
  datetime.date(2003, 6, 10),
  datetime.date(2003, 6, 11),
  datetime.date(2003, 6, 12),
  datetime.date(2003, 6, 13),
  datetime.date(2003, 6, 14),
  datetime.date(2003, 6, 15)],
 [datetime.date(2003, 6, 16),
  datetime.date(2003, 6, 17),
  datetime.date(2003, 6, 18),
  datetime.date(2003, 6, 19),
  datetime.date(2003, 6, 20),
  datetime.date(2003, 6, 21),
  datetime.date(2003, 6, 22)],
 [datetime.date(2003, 6, 23),
  datetime.date(2003, 6, 24),
  datetime.date(2003, 6, 25),
  datetime.date(2003, 6, 26),
  datetime.date(2003, 6, 27),
  datetime.date(2003, 6, 28),
  datetime.date(2003, 6, 29)],
 [datetime.date(2003, 6, 30),
  datetime.date(2003, 7, 1),
  datetime.date(2003, 7, 2),
  datetime.date(2003, 7, 3),
  datetime.date(2003, 7, 4),
  datetime.date(2003, 7, 5),
  datetime.date(2003, 7, 6)],
 [datetime.date(2003, 7, 7),
  datetime.date(2003, 7, 8),
  datetime.date(2003, 7, 9),
  datetime.date(2003, 7, 10),
  datetime.date(2003, 7, 11),
  datetime.date(2003, 7, 12),
  datetime.date(2003, 7, 13)],
 [datetime.date(2003, 7, 14),
  datetime.date(2003, 7, 15),
  datetime.date(2003, 7, 16),
  datetime.date(2003, 7, 17),
  datetime.date(2003, 7, 18),
  datetime.date(2003, 7, 19),
  datetime.date(2003, 7, 20)],
 [datetime.date(2003, 7, 21),
  datetime.date(2003, 7, 22),
  datetime.date(2003, 7, 23),
  datetime.date(2003, 7, 24),
  datetime.date(2003, 7, 25),
  datetime.date(2003, 7, 26),
  datetime.date(2003, 7, 27)],
 [datetime.date(2003, 7, 28),
  datetime.date(2003, 7, 29),
  datetime.date(2003, 7, 30),
  datetime.date(2003, 7, 31),
  datetime.date(2003, 8, 1),
  datetime.date(2003, 8, 2),
  datetime.date(2003, 8, 3)],
 [datetime.date(2003, 8, 4),
  datetime.date(2003, 8, 5),
  datetime.date(2003, 8, 6),
  datetime.date(2003, 8, 7),
  datetime.date(2003, 8, 8),
  datetime.date(2003, 8, 9),
  datetime.date(2003, 8, 10)],
 [datetime.date(2003, 8, 11),
  datetime.date(2003, 8, 12),
  datetime.date(2003, 8, 13),
  datetime.date(2003, 8, 14),
  datetime.date(2003, 8, 15),
  datetime.date(2003, 8, 16),
  datetime.date(2003, 8, 17)],
 [datetime.date(2003, 8, 18),
  datetime.date(2003, 8, 19),
  datetime.date(2003, 8, 20),
  datetime.date(2003, 8, 21),
  datetime.date(2003, 8, 22),
  datetime.date(2003, 8, 23),
  datetime.date(2003, 8, 24)],
 [datetime.date(2003, 8, 25),
  datetime.date(2003, 8, 26),
  datetime.date(2003, 8, 27),
  datetime.date(2003, 8, 28),
  datetime.date(2003, 8, 29),
  datetime.date(2003, 8, 30),
  datetime.date(2003, 8, 31)],
 [datetime.date(2003, 9, 1),
  datetime.date(2003, 9, 2),
  datetime.date(2003, 9, 3),
  datetime.date(2003, 9, 4),
  datetime.date(2003, 9, 5),
  datetime.date(2003, 9, 6),
  datetime.date(2003, 9, 7)],
 [datetime.date(2003, 9, 8),
  datetime.date(2003, 9, 9),
  datetime.date(2003, 9, 10),
  datetime.date(2003, 9, 11),
  datetime.date(2003, 9, 12),
  datetime.date(2003, 9, 13),
  datetime.date(2003, 9, 14)],
 [datetime.date(2003, 9, 15),
  datetime.date(2003, 9, 16),
  datetime.date(2003, 9, 17),
  datetime.date(2003, 9, 18),
  datetime.date(2003, 9, 19),
  datetime.date(2003, 9, 20),
  datetime.date(2003, 9, 21)],
 [datetime.date(2003, 9, 22),
  datetime.date(2003, 9, 23),
  datetime.date(2003, 9, 24),
  datetime.date(2003, 9, 25),
  datetime.date(2003, 9, 26),
  datetime.date(2003, 9, 27),
  datetime.date(2003, 9, 28)],
 [datetime.date(2003, 9, 29),
  datetime.date(2003, 9, 30),
  datetime.date(2003, 10, 1),
  datetime.date(2003, 10, 2),
  datetime.date(2003, 10, 3),
  datetime.date(2003, 10, 4),
  datetime.date(2003, 10, 5)],
 [datetime.date(2003, 10, 6),
  datetime.date(2003, 10, 7),
  datetime.date(2003, 10, 8),
  datetime.date(2003, 10, 9),
  datetime.date(2003, 10, 10),
  datetime.date(2003, 10, 11),
  datetime.date(2003, 10, 12)],
 [datetime.date(2003, 10, 13),
  datetime.date(2003, 10, 14),
  datetime.date(2003, 10, 15),
  datetime.date(2003, 10, 16),
  datetime.date(2003, 10, 17),
  datetime.date(2003, 10, 18),
  datetime.date(2003, 10, 19)],
 [datetime.date(2003, 10, 20),
  datetime.date(2003, 10, 21),
  datetime.date(2003, 10, 22),
  datetime.date(2003, 10, 23),
  datetime.date(2003, 10, 24),
  datetime.date(2003, 10, 25),
  datetime.date(2003, 10, 26)],
 [datetime.date(2003, 10, 27),
  datetime.date(2003, 10, 28),
  datetime.date(2003, 10, 29),
  datetime.date(2003, 10, 30),
  datetime.date(2003, 10, 31),
  datetime.date(2003, 11, 1),
  datetime.date(2003, 11, 2)],
 [datetime.date(2003, 11, 3),
  datetime.date(2003, 11, 4),
  datetime.date(2003, 11, 5),
  datetime.date(2003, 11, 6),
  datetime.date(2003, 11, 7),
  datetime.date(2003, 11, 8),
  datetime.date(2003, 11, 9)],
 [datetime.date(2003, 11, 10),
  datetime.date(2003, 11, 11),
  datetime.date(2003, 11, 12),
  datetime.date(2003, 11, 13),
  datetime.date(2003, 11, 14),
  datetime.date(2003, 11, 15),
  datetime.date(2003, 11, 16)],
 [datetime.date(2003, 11, 17),
  datetime.date(2003, 11, 18),
  datetime.date(2003, 11, 19),
  datetime.date(2003, 11, 20),
  datetime.date(2003, 11, 21),
  datetime.date(2003, 11, 22),
  datetime.date(2003, 11, 23)],
 [datetime.date(2003, 11, 24),
  datetime.date(2003, 11, 25),
  datetime.date(2003, 11, 26),
  datetime.date(2003, 11, 27),
  datetime.date(2003, 11, 28),
  datetime.date(2003, 11, 29),
  datetime.date(2003, 11, 30)],
 [datetime.date(2003, 12, 1),
  datetime.date(2003, 12, 2),
  datetime.date(2003, 12, 3),
  datetime.date(2003, 12, 4),
  datetime.date(2003, 12, 5),
  datetime.date(2003, 12, 6),
  datetime.date(2003, 12, 7)],
 [datetime.date(2003, 12, 8),
  datetime.date(2003, 12, 9),
  datetime.date(2003, 12, 10),
  datetime.date(2003, 12, 11),
  datetime.date(2003, 12, 12),
  datetime.date(2003, 12, 13),
  datetime.date(2003, 12, 14)],
 [datetime.date(2003, 12, 15),
  datetime.date(2003, 12, 16),
  datetime.date(2003, 12, 17),
  datetime.date(2003, 12, 18),
  datetime.date(2003, 12, 19),
  datetime.date(2003, 12, 20),
  datetime.date(2003, 12, 21)],
 [datetime.date(2003, 12, 22),
  datetime.date(2003, 12, 23),
  datetime.date(2003, 12, 24),
  datetime.date(2003, 12, 25),
  datetime.date(2003, 12, 26),
  datetime.date(2003, 12, 27),
  datetime.date(2003, 12, 28)],
 [datetime.date(2003, 12, 29),
  datetime.date(2003, 12, 30),
  datetime.date(2003, 12, 31),
  datetime.date(2004, 1, 1),
  datetime.date(2004, 1, 2),
  datetime.date(2004, 1, 3),
  datetime.date(2004, 1, 4)],
 [datetime.date(2004, 1, 5),
  datetime.date(2004, 1, 6),
  datetime.date(2004, 1, 7),
  datetime.date(2004, 1, 8),
  datetime.date(2004, 1, 9),
  datetime.date(2004, 1, 10),
  datetime.date(2004, 1, 11)],
 [datetime.date(2004, 1, 12),
  datetime.date(2004, 1, 13),
  datetime.date(2004, 1, 14),
  datetime.date(2004, 1, 15),
  datetime.date(2004, 1, 16),
  datetime.date(2004, 1, 17),
  datetime.date(2004, 1, 18)],
 [datetime.date(2004, 1, 19),
  datetime.date(2004, 1, 20),
  datetime.date(2004, 1, 21),
  datetime.date(2004, 1, 22),
  datetime.date(2004, 1, 23),
  datetime.date(2004, 1, 24),
  datetime.date(2004, 1, 25)],
 [datetime.date(2004, 1, 26),
  datetime.date(2004, 1, 27),
  datetime.date(2004, 1, 28),
  datetime.date(2004, 1, 29),
  datetime.date(2004, 1, 30),
  datetime.date(2004, 1, 31),
  datetime.date(2004, 2, 1)],
 [datetime.date(2004, 2, 2),
  datetime.date(2004, 2, 3),
  datetime.date(2004, 2, 4),
  datetime.date(2004, 2, 5),
  datetime.date(2004, 2, 6),
  datetime.date(2004, 2, 7),
  datetime.date(2004, 2, 8)],
 [datetime.date(2004, 2, 9),
  datetime.date(2004, 2, 10),
  datetime.date(2004, 2, 11),
  datetime.date(2004, 2, 12),
  datetime.date(2004, 2, 13),
  datetime.date(2004, 2, 14),
  datetime.date(2004, 2, 15)],
 [datetime.date(2004, 2, 16),
  datetime.date(2004, 2, 17),
  datetime.date(2004, 2, 18),
  datetime.date(2004, 2, 19),
  datetime.date(2004, 2, 20),
  datetime.date(2004, 2, 21),
  datetime.date(2004, 2, 22)],
 [datetime.date(2004, 2, 23),
  datetime.date(2004, 2, 24),
  datetime.date(2004, 2, 25),
  datetime.date(2004, 2, 26),
  datetime.date(2004, 2, 27),
  datetime.date(2004, 2, 28),
  datetime.date(2004, 2, 29)],
 [datetime.date(2004, 3, 1),
  datetime.date(2004, 3, 2),
  datetime.date(2004, 3, 3),
  datetime.date(2004, 3, 4),
  datetime.date(2004, 3, 5),
  datetime.date(2004, 3, 6),
  datetime.date(2004, 3, 7)],
 [datetime.date(2004, 3, 8),
  datetime.date(2004, 3, 9),
  datetime.date(2004, 3, 10),
  datetime.date(2004, 3, 11),
  datetime.date(2004, 3, 12),
  datetime.date(2004, 3, 13),
  datetime.date(2004, 3, 14)],
 [datetime.date(2004, 3, 15),
  datetime.date(2004, 3, 16),
  datetime.date(2004, 3, 17),
  datetime.date(2004, 3, 18),
  datetime.date(2004, 3, 19),
  datetime.date(2004, 3, 20),
  datetime.date(2004, 3, 21)],
 [datetime.date(2004, 3, 22),
  datetime.date(2004, 3, 23),
  datetime.date(2004, 3, 24),
  datetime.date(2004, 3, 25),
  datetime.date(2004, 3, 26),
  datetime.date(2004, 3, 27),
  datetime.date(2004, 3, 28)],
 [datetime.date(2004, 3, 29),
  datetime.date(2004, 3, 30),
  datetime.date(2004, 3, 31),
  datetime.date(2004, 4, 1),
  datetime.date(2004, 4, 2),
  datetime.date(2004, 4, 3),
  datetime.date(2004, 4, 4)],
 [datetime.date(2004, 4, 5),
  datetime.date(2004, 4, 6),
  datetime.date(2004, 4, 7),
  datetime.date(2004, 4, 8),
  datetime.date(2004, 4, 9),
  datetime.date(2004, 4, 10),
  datetime.date(2004, 4, 11)],
 [datetime.date(2004, 4, 12),
  datetime.date(2004, 4, 13),
  datetime.date(2004, 4, 14),
  datetime.date(2004, 4, 15),
  datetime.date(2004, 4, 16),
  datetime.date(2004, 4, 17),
  datetime.date(2004, 4, 18)],
 [datetime.date(2004, 4, 19),
  datetime.date(2004, 4, 20),
  datetime.date(2004, 4, 21),
  datetime.date(2004, 4, 22),
  datetime.date(2004, 4, 23),
  datetime.date(2004, 4, 24),
  datetime.date(2004, 4, 25)],
 [datetime.date(2004, 4, 26),
  datetime.date(2004, 4, 27),
  datetime.date(2004, 4, 28),
  datetime.date(2004, 4, 29),
  datetime.date(2004, 4, 30),
  datetime.date(2004, 5, 1),
  datetime.date(2004, 5, 2)],
 [datetime.date(2004, 5, 3),
  datetime.date(2004, 5, 4),
  datetime.date(2004, 5, 5),
  datetime.date(2004, 5, 6),
  datetime.date(2004, 5, 7),
  datetime.date(2004, 5, 8),
  datetime.date(2004, 5, 9)],
 [datetime.date(2004, 5, 10),
  datetime.date(2004, 5, 11),
  datetime.date(2004, 5, 12),
  datetime.date(2004, 5, 13),
  datetime.date(2004, 5, 14),
  datetime.date(2004, 5, 15),
  datetime.date(2004, 5, 16)],
 [datetime.date(2004, 5, 17),
  datetime.date(2004, 5, 18),
  datetime.date(2004, 5, 19),
  datetime.date(2004, 5, 20),
  datetime.date(2004, 5, 21),
  datetime.date(2004, 5, 22),
  datetime.date(2004, 5, 23)],
 [datetime.date(2004, 5, 24),
  datetime.date(2004, 5, 25),
  datetime.date(2004, 5, 26),
  datetime.date(2004, 5, 27),
  datetime.date(2004, 5, 28),
  datetime.date(2004, 5, 29),
  datetime.date(2004, 5, 30)],
 [datetime.date(2004, 5, 31),
  datetime.date(2004, 6, 1),
  datetime.date(2004, 6, 2),
  datetime.date(2004, 6, 3),
  datetime.date(2004, 6, 4),
  datetime.date(2004, 6, 5),
  datetime.date(2004, 6, 6)],
 [datetime.date(2004, 6, 7),
  datetime.date(2004, 6, 8),
  datetime.date(2004, 6, 9),
  datetime.date(2004, 6, 10),
  datetime.date(2004, 6, 11),
  datetime.date(2004, 6, 12),
  datetime.date(2004, 6, 13)],
 [datetime.date(2004, 6, 14),
  datetime.date(2004, 6, 15),
  datetime.date(2004, 6, 16),
  datetime.date(2004, 6, 17),
  datetime.date(2004, 6, 18),
  datetime.date(2004, 6, 19),
  datetime.date(2004, 6, 20)],
 [datetime.date(2004, 6, 21),
  datetime.date(2004, 6, 22),
  datetime.date(2004, 6, 23),
  datetime.date(2004, 6, 24),
  datetime.date(2004, 6, 25),
  datetime.date(2004, 6, 26),
  datetime.date(2004, 6, 27)],
 [datetime.date(2004, 6, 28),
  datetime.date(2004, 6, 29),
  datetime.date(2004, 6, 30),
  datetime.date(2004, 7, 1),
  datetime.date(2004, 7, 2),
  datetime.date(2004, 7, 3),
  datetime.date(2004, 7, 4)],
 [datetime.date(2004, 7, 5),
  datetime.date(2004, 7, 6),
  datetime.date(2004, 7, 7),
  datetime.date(2004, 7, 8),
  datetime.date(2004, 7, 9),
  datetime.date(2004, 7, 10),
  datetime.date(2004, 7, 11)],
 [datetime.date(2004, 7, 12),
  datetime.date(2004, 7, 13),
  datetime.date(2004, 7, 14),
  datetime.date(2004, 7, 15),
  datetime.date(2004, 7, 16),
  datetime.date(2004, 7, 17),
  datetime.date(2004, 7, 18)],
 [datetime.date(2004, 7, 19),
  datetime.date(2004, 7, 20),
  datetime.date(2004, 7, 21),
  datetime.date(2004, 7, 22),
  datetime.date(2004, 7, 23),
  datetime.date(2004, 7, 24),
  datetime.date(2004, 7, 25)],
 [datetime.date(2004, 7, 26),
  datetime.date(2004, 7, 27),
  datetime.date(2004, 7, 28),
  datetime.date(2004, 7, 29),
  datetime.date(2004, 7, 30),
  datetime.date(2004, 7, 31),
  datetime.date(2004, 8, 1)],
 [datetime.date(2004, 8, 2),
  datetime.date(2004, 8, 3),
  datetime.date(2004, 8, 4),
  datetime.date(2004, 8, 5),
  datetime.date(2004, 8, 6),
  datetime.date(2004, 8, 7),
  datetime.date(2004, 8, 8)],
 [datetime.date(2004, 8, 9),
  datetime.date(2004, 8, 10),
  datetime.date(2004, 8, 11),
  datetime.date(2004, 8, 12),
  datetime.date(2004, 8, 13),
  datetime.date(2004, 8, 14),
  datetime.date(2004, 8, 15)],
 [datetime.date(2004, 8, 16),
  datetime.date(2004, 8, 17),
  datetime.date(2004, 8, 18),
  datetime.date(2004, 8, 19),
  datetime.date(2004, 8, 20),
  datetime.date(2004, 8, 21),
  datetime.date(2004, 8, 22)],
 [datetime.date(2004, 8, 23),
  datetime.date(2004, 8, 24),
  datetime.date(2004, 8, 25),
  datetime.date(2004, 8, 26),
  datetime.date(2004, 8, 27),
  datetime.date(2004, 8, 28),
  datetime.date(2004, 8, 29)],
 [datetime.date(2004, 8, 30),
  datetime.date(2004, 8, 31),
  datetime.date(2004, 9, 1),
  datetime.date(2004, 9, 2),
  datetime.date(2004, 9, 3),
  datetime.date(2004, 9, 4),
  datetime.date(2004, 9, 5)],
 [datetime.date(2004, 9, 6),
  datetime.date(2004, 9, 7),
  datetime.date(2004, 9, 8),
  datetime.date(2004, 9, 9),
  datetime.date(2004, 9, 10),
  datetime.date(2004, 9, 11),
  datetime.date(2004, 9, 12)],
 [datetime.date(2004, 9, 13),
  datetime.date(2004, 9, 14),
  datetime.date(2004, 9, 15),
  datetime.date(2004, 9, 16),
  datetime.date(2004, 9, 17),
  datetime.date(2004, 9, 18),
  datetime.date(2004, 9, 19)],
 [datetime.date(2004, 9, 20),
  datetime.date(2004, 9, 21),
  datetime.date(2004, 9, 22),
  datetime.date(2004, 9, 23),
  datetime.date(2004, 9, 24),
  datetime.date(2004, 9, 25),
  datetime.date(2004, 9, 26)],
 [datetime.date(2004, 9, 27),
  datetime.date(2004, 9, 28),
  datetime.date(2004, 9, 29),
  datetime.date(2004, 9, 30),
  datetime.date(2004, 10, 1),
  datetime.date(2004, 10, 2),
  datetime.date(2004, 10, 3)],
 [datetime.date(2004, 10, 4),
  datetime.date(2004, 10, 5),
  datetime.date(2004, 10, 6),
  datetime.date(2004, 10, 7),
  datetime.date(2004, 10, 8),
  datetime.date(2004, 10, 9),
  datetime.date(2004, 10, 10)],
 [datetime.date(2004, 10, 11),
  datetime.date(2004, 10, 12),
  datetime.date(2004, 10, 13),
  datetime.date(2004, 10, 14),
  datetime.date(2004, 10, 15),
  datetime.date(2004, 10, 16),
  datetime.date(2004, 10, 17)],
 [datetime.date(2004, 10, 18),
  datetime.date(2004, 10, 19),
  datetime.date(2004, 10, 20),
  datetime.date(2004, 10, 21),
  datetime.date(2004, 10, 22),
  datetime.date(2004, 10, 23),
  datetime.date(2004, 10, 24)],
 [datetime.date(2004, 10, 25),
  datetime.date(2004, 10, 26),
  datetime.date(2004, 10, 27),
  datetime.date(2004, 10, 28),
  datetime.date(2004, 10, 29),
  datetime.date(2004, 10, 30),
  datetime.date(2004, 10, 31)],

In [13]:
# Create a copy of the dataframe

df_copy = df.copy()
df_copy.head(5)

,ORDERDATE,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,STATUS,PRODUCTLINE,PRODUCTCODE
0,2003-01-06,10100,30,100.00,5151.00,Shipped,Vintage Cars,S18_1749
1,2003-01-06,10100,50,67.80,3390.00,Shipped,Vintage Cars,S18_2248
2,2003-01-06,10100,22,86.51,1903.22,Shipped,Vintage Cars,S18_4409
3,2003-01-06,10100,49,34.47,1689.03,Shipped,Vintage Cars,S24_3969
4,2003-01-09,10101,45,31.20,1404.00,Shipped,Vintage Cars,S24_1937

In [14]:
# Initialize iterator
i=0

# Iterate through the list of weeks
while (i < len(all_weeks)):
    
    # Create an empty dataframe, which will hold the data of one single week
    df_new = pd.DataFrame()
    
    #Iterate through the data
    for j in range(len(df_copy)):
        
        # Check whether the dates of the data are in the corresponding week
        if(df_copy['ORDERDATE'][j].date() in all_weeks[i]):
            
            # If so, append that row to the empty dataframe
            df_new = df_new.append(df_copy.iloc[[j]],ignore_index=True)
            
    # Write the dataframe corresponding to one week under the name of the first date of that week
    if (df_new.empty==False):
        name = all_weeks[i][0].strftime('%Y-%m-%d')+'.csv'
        df_new.to_csv(name, encoding='utf-8', index=False)
        
    # Increase iterator and repeat until all weeks are covered
    i+=1